
.old {
    width: 20%;
}
.dolar {
    width: 20%;
}
label {
    cursor: pointer;
}
#D {
   padding-left: 16px;
    margin-top: 2px;
}
#C  {
padding-left: 106px;
margin-top: -33px;
}
#V {
    width: 80px;
}
#B {
    width: 30px;
}
#O {
    margin-bottom: 50px;
}
.size {
    width: 100px;
    text-align: center;
}
.color {
    background-color: sandybrown;
}